@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Caveat&family=Comfortaa:wght@300&family=Inconsolata&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300&family=Inconsolata&family=Kalam:wght@300&family=Pacifico&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvULBYSasqAU-EELnTkUTHxq2sm6TBaR9UasmQm4DJKc1AnvlrUPYqA0QPe1yH4K_8TBk&usqp=CAU);
}

.toDoList {
    border-radius: 20px;
    width: 40%;
    min-width: 350px;
    min-height: 500px;
    height: 80vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 4px 3px 8px deeppink;
}

.toDoList h1{
    font-family: 'Inconsolata', monospace;
    font-size: 2.3em;
    text-shadow: 3px 2px 2px darkorange;
}

.setTask{
    width: 80%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.setTask input {
    border-radius: 4px;
    height: 35px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    flex: 1;
    border: 1px solid #000;
    border-left: 4px solid #000;
    border-top: 4px solid #000;
    background-color: rgb(243, 253, 253);
}

.setTask button {
    cursor: pointer;
    border-radius: 4px;
    padding: 1px;
    height: 35px;
    width: 120px;
    margin: 8px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    text-shadow: 3px 2px 2px grey;
    background-color: lightcyan;
}

hr {
    content: "";
    min-width: 100%;
    margin-bottom: 10px;
    background-color: black;
    height: 3px;
}

#list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border: 3px dotted deeppink; */
    width: 90%;
    height: 80%;
}

.listItem{
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 3px dotted black; */
    font-family: 'Kalam', cursive;
    font-size: 16px;
    list-style: none;
}

.listItem input{
    margin: 7px;
    min-width: 20px;
    min-height: 20px;
    box-sizing: border-box;
    cursor: pointer;
}